<div class="navbar navbar-expand-lg bg-primary navbar-dark px-5 py-0">
    <a class="navbar-brand" th:href="@{${DOMAIN_INIT}}">quản lý kho hàng</a>

    <ul class="navbar-nav ml-auto">
        
        <li class="nav-item">
            <a th:class="${PATH_ACTION eq DOMAIN_WAREHOUSE} ? 'nav-link activated':'nav-link'"
            th:href="@{${DOMAIN_WAREHOUSE}}">
                kho hàng
            </a>
        </li>

        <li class="nav-item">
            <a th:class="${PATH_ACTION eq DOMAIN_PROVIDER} ? 'nav-link activated':'nav-link'"
            th:href="@{${DOMAIN_PROVIDER}}">
                nhà cung cấp
            </a>
        </li>

        <li class="nav-item">
            <a th:class="${PATH_ACTION eq DOMAIN_CUSTOMER} ? 'nav-link activated':'nav-link'"
            th:href="@{${DOMAIN_CUSTOMER}}">
                khách hàng
            </a>
        </li>

        <li class="nav-item">
            <a th:class="${PATH_ACTION eq DOMAIN_PRODUCT} ? 'nav-link activated':'nav-link'"
            th:href="@{${DOMAIN_PRODUCT}}">
                sản phẩm
            </a>
        </li>

        <li class="nav-item">
            <a th:class="${PATH_ACTION eq GOODS_RECEIPT_NOTE} ? 'nav-link activated':'nav-link'"
            th:href="@{${DOMAIN_GOODS_RECEIPT_NOTE}}">
                phiếu nhận hàng
            </a>
        </li>

        <li class="nav-item">
            <a th:class="${PATH_ACTION eq GOODS_DELIVERY_NOTE} ? 'nav-link activated':'nav-link'"
            th:href="@{${DOMAIN_GOODS_DELIVERY_NOTE}}">
                phiếu giao hàng
            </a>
        </li>
        
    </ul>
</div>