<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:with="http://www.thymeleaf.org/extras/with"
      layout:decorate="~{layout}"
      with:title="'Goods receipt note'">

<th:block layout:fragment="content">

    <div class="card">
        <div class="card-header text-uppercase">
            danh sách phiếu nhập kho
        </div>

        <div class="card-body">


        [[ ${DOMAIN_WAREHOUSE} ]] <br>
        [[ ${REQUEST_GET_ALL} ]] <br>
        [[ ${PATH_ACTION} ]]

        </div>
    </div>

</th:block>

</html>