<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:with="http://www.thymeleaf.org/extras/with"
      layout:decorate="~{layout}"
      with:title="'Product'">

<th:block layout:fragment="content">

    <div class="card text-body">
		<div class="card-header text-uppercase">
			<div class="clearfix">
				<span class="float-left">
					danh sách các sản phẩm
				</span>
				<span class="float-right">
					<button type="button" class="btn btn-primary btn-sm"
							data-toggle="modal" data-target="#add_product">
							<strong>
								<i class="fa fa-plus"></i>
								&nbsp;thêm sản phẩm
							</strong>
					</button>
				</span>
			</div>
		</div>

		<div class="card-body">
				<div id="loading"></div>
				<div id="products"></div>
				<div id="error_get_all" class="text-danger"></div>
		</div>
	</div>

  <div id="tplProducts" class="d-none">
		<table class="table table-bordered">
			<thead class="text-uppercase">
				<tr>
					<th class="td_4"></th>
					<th>stt</th>
          <th>mã sản phẩm</th>
					<th>tên</th>
					<th>ngày sản xuất</th>
					<th>hạn sử dụng</th>
					<th class="td_12">thao tác</th>
				</tr>
			</thead>
			
			<tbody>
				<!-- {{#results}} -->
				<tr row_id={{id}}>
					<td>
						<button class="btn"
						data-toggle="collapse" data-target="#show_info_{{id}}">
							<i class="fa fa-plus"></i>
						</button>
					</td>
					<td>{{id}}</td>
					<td>{{code}}</td>
          <td>{{name}}</td>
          <td>{{mfg}}</td>
					<td>{{exp}}</td>
					<td>
							<button type="button" class="btn btn-info btn-sm"
								data-toggle="modal" data-target="#edit_product">
												<strong>
									<i class="fa fa-pencil-square-o"></i>
									&nbsp;sửa
								</strong>
							</button>
						
							<button type="button" class="btn btn-warning btn-sm"
											data-toggle="modal" data-target="#delete_product">
												<strong>
									<i class="fa fa-times"></i>
									&nbsp;xóa
								</strong>
										</button>
						</td>
					</tr>
				</tr>

				<tr id="show_info_{{id}}" class="collapse">
					<td colspan="7">
						<table class="table">
							<thead class="text-uppercase">
								<tr>
									<th class="td_10">thời gian tạo</th>
									<th class="td_10">thời gian sửa</th>
								</tr>
							</thead>
							<tbody>
								<tr row_id={{id}}>
									<td>{{createdTime}}</td>
									<td>{{updatedTime}}</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
				<!-- {{/results}} -->

				<!-- {{^results}} -->
				<tr>
					<td colspan="7">Danh sách rỗng</td>
				</tr>
				<!-- {{/results}} -->
			</tbody>
		</table>
	</div>
	
	<!-- The Modal -->
	<div class="modal fade" id="add_product">
		<div class="modal-dialog">
		  <div class="modal-content">		
				<!-- Modal Header -->
				<div class="modal-header">
					<h6 class="modal-title text-uppercase">
						<strong>sản phẩm</strong>
					</h6>
					
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
	  
				<!-- Modal body -->
				<div class="modal-body">
					<div class="d-none" id="success_product">
					</div>

					<div class="d-none" id="danger_product">
					</div>

					<table class="table table-bordered">
						<tbody>
							<tr>
								<td colspan="2">

									<div id="add_product_show"></div>

									<div id="tplAddProduct" class="d-none">
										<form>
											
											<div class="form-group">
												<input type="text" class="form-control" placeholder="Mã sản phẩm" name="code"
												value="{{results}}" disabled>
											</div>

											<div class="form-group">
												<input type="text" class="form-control" placeholder="Tên sản phẩm" name="name">
											</div>
																							
											<div class="form-group">
												<input type="text" class="form-control" placeholder="Ngày sản xuất" name="mfg">
											</div>

											<div class="form-group">
												<input type="text" class="form-control" placeholder="Ngày hết hạn" name="exp">
											</div>
						
											<button class="btn btn-info mr-3" id="add_btn">thêm</button>
										</form>
									</div>
									
								</td>
							</tr>
						</tbody>
					</table>
				</div>
		  </div>
		</div>
	</div>

	<!-- The Modal -->
	<div class="modal fade" id="edit_product">
			<div class="modal-dialog">
				<div class="modal-content">		
					<!-- Modal Header -->
					<div class="modal-header">
						<h6 class="modal-title text-uppercase">
							<strong>sản phẩm</strong>
						</h6>
						
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
			
					<!-- Modal body -->
					<div class="modal-body">
						<div class="d-none" id="success_product">
						</div>
	
						<div class="d-none" id="danger_product">
						</div>
	
						<table class="table table-bordered">
							<tbody>
								<tr>
									<td colspan="2">
										<div id="edit_product_show"></div>

										<div id="tplEditProduct" class="d-none">
											<form>

												{{#results}}
												<div class="form-group">
													<input type="text" class="form-control" placeholder="STT" 
													name="id" value="{{id}}" disabled>
												</div>
												<div class="form-group">
														<input type="text" class="form-control" placeholder="Mã sản phẩm" 
														name="code" value="{{code}}" disabled>
													</div>
												<div class="form-group">
													<input type="text" class="form-control" placeholder="Tên sản phẩm" 
													name="name" value="{{name}}">
                        </div>
                        <div class="form-group">
													<input type="text" class="form-control" placeholder="Ngày sản xuất" 
													name="mfg" value="{{mfg}}">
												</div>
												<div class="form-group">
														<input type="text" class="form-control" placeholder="Ngày hết hạn" 
														name="exp" value="{{exp}}">
													</div>
												<div class="form-group">
													<input type="text" class="form-control" placeholder="Thời gian tạo" 
													name="createdTime" value="{{createdTime}}" disabled>
												</div>
												<div class="form-group">
													<input type="text" class="form-control" placeholder="Thời gian sửa" 
													name="updatedTime" value="{{updatedTime}}" disabled>
												</div>
												{{/results}}
							
												<button class="btn btn-warning mr-3" id="edit_btn">cập nhật</button>
											</form>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
	</div>

	<!-- The Modal -->
	<div class="modal fade" id="delete_product">
		<div class="modal-dialog">
			<div class="modal-content">		
				<!-- Modal Header -->
				<div class="modal-header">
					<h6 class="modal-title text-uppercase">
						<strong>Bạn muốn xóa sản phẩm này?</strong>
					</h6>
					
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
		
				<!-- Modal body -->
				<div class="modal-body">
					<div class="d-none" id="success_product">
					</div>

					<div class="d-none" id="danger_product">
					</div>

					<table class="table table-bordered">
						<tbody>
							<tr>
								<td>
									<button type="button" class="btn btn-primary" id="delete_btn">
										Xóa
									</button>

									<button type="button" class="btn btn-danger" data-dismiss="modal">
										Hủy
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

</th:block>

</html>