<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:with="http://www.thymeleaf.org/extras/with"
      layout:decorate="~{layout}"
      with:title="'Warehouse'">

<th:block layout:fragment="content">

    <div class="card text-body">
        <div class="card-header text-uppercase">
			<div class="clearfix">
				<span class="float-left">
					danh sách các nhà kho
				</span>
				<span class="float-right">
					<button type="button" class="btn btn-primary btn-sm"
              data-toggle="modal" data-target="#add_warehouse">
              <strong>
								<i class="fa fa-plus"></i>
								&nbsp;thêm kho hàng
							</strong>
          </button>
				</span>
			</div>
        </div>

        <div class="card-body">
						<div id="loading"></div>
            <div id="warehouses"></div>
            <div class="text-danger" id="error_get_all"></div>
        </div>
    </div>

    <div id="tplWarehouses" class="d-none">
		<table class="table table-bordered">
			<thead class="text-uppercase">
				<tr>
					<th>stt</th>
					<th>tên</th>
					<th>thời gian tạo</th>
					<th>thời gian sửa</th>
				</tr>
			</thead>
			
			<tbody>
				<!-- {{#results}} -->
				<tr>
					<td>{{id}}</td>
					<td>{{name}}</td>
					<td>{{createdTime}}</td>
					<td>{{updatedTime}}</td>
				</tr>
				<!-- {{/results}} -->

				<!-- {{^results}} -->
				<tr>
					<td colspan="4">Danh sách rỗng</td>
				</tr>
				<!-- {{/results}} -->
			</tbody>
			
		</table>
	</div>
	
	<!-- The Modal -->
	<div class="modal fade" id="add_warehouse">
		<div class="modal-dialog">
		  <div class="modal-content">
				<!-- Modal Header -->
				<div class="modal-header">
					<h6 class="modal-title text-uppercase">
						<strong>kho hàng</strong>
					</h6>
			
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
	  
				<!-- Modal body -->
				<div class="modal-body">
					<table class="table table-bordered">
						<tbody>
							<tr>
								<td colspan="2">
									<form>
										<div class="form-group">
											<input type="text" class="form-control" placeholder="Tên kho hàng" name="name">
										</div>
					
										<button class="btn btn-info mr-3 button_add">thêm</button>
									</form>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
		  </div>
		</div>
	</div>

</th:block>

</html>