<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block layout:insert="~{fragments/htmlhead}"/>

<body 
th:with="
DOMAIN_INIT=${T(com.doan.stockmanagement.common.CommonConstants).DOMAIN_INIT},
DOMAIN_WAREHOUSE=${T(com.doan.stockmanagement.common.CommonConstants).DOMAIN_WAREHOUSE},
DOMAIN_PROVIDER=${T(com.doan.stockmanagement.common.CommonConstants).DOMAIN_PROVIDER},
DOMAIN_CUSTOMER=${T(com.doan.stockmanagement.common.CommonConstants).DOMAIN_CUSTOMER},
DOMAIN_PRODUCT=${T(com.doan.stockmanagement.common.CommonConstants).DOMAIN_PRODUCT},
DOMAIN_GOODS_RECEIPT_NOTE=${T(com.doan.stockmanagement.common.CommonConstants).DOMAIN_GOODS_RECEIPT_NOTE},
DOMAIN_GOODS_DELIVERY_NOTE=${T(com.doan.stockmanagement.common.CommonConstants).DOMAIN_GOODS_DELIVERY_NOTE},
GOODS_RECEIPT_NOTE=${T(com.doan.stockmanagement.common.CommonConstants).GOODS_RECEIPT_NOTE},
GOODS_DELIVERY_NOTE=${T(com.doan.stockmanagement.common.CommonConstants).GOODS_DELIVERY_NOTE}
">

<div id="navigation" class="text-uppercase">
<th:block layout:insert="~{fragments/navigation}"/>
</div>

<div class="px-5 py-5">
    <th:block layout:fragment="content"/>         
</div>

</body>


<th:block layout:insert="~{fragments/body_scripts}" />

</html>
